#doSomethingButton {
    padding: 50px 30px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #E60707;
    border: solid;
    border-radius: 100%;
    border-color: #A20606;
    box-shadow: 0 9px #999;
}

#doSomethingButton:hover {background-color: #C80000}

#doSomethingButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-color: #048757;
}

#submitButton {
    padding: 55px 30px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #E60707;
    border: solid;
    border-radius: 100%;
    border-color: #A20606;
    box-shadow: 0 9px #999;
    margin-left: 120px;
}

#submitButton:hover {background-color: #C80000}

#submitButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-color: #048757;
}

