#footer {
    height: 125px;
    color: white;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
    position: static;
    font-family: 'Bad Script', cursive;
}